version: '3.8'
services:
  web:
    build: .
    image: image-editor
    container_name: image-editor
    restart: always
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - HOST=0.0.0.0